**/.terraform/*
**/.terraform.lock.hcl

**/*.tfstate
**/*.tfstate.*

crash.log
crash.*.log

*.tfplan

**/terraform.tfvars
**/*.auto.tfvars

sa-key.json
**/key.json

.kube/
kubeconfig
*config.yaml

.DS_Store
.idea/
*.log

echo "terraform/infra/key.json" >> .gitignore
echo "*.tfstate*" >> .gitignore
echo ".terraform/" >> .gitignore
