**/.terraform/*
**/.terraform.lock.hcl

**/*.tfstate
**/*.tfstate.*

crash.log
crash.*.log

*.tfplan

**/terraform.tfvars
**/*.auto.tfvars

**/key.json

.kube/
kubeconfig
*config.yaml

.DS_Store
.idea/
*.log
