####################################
# Terraform
####################################

# Terraform working directory
**/.terraform/

# Terraform lock file
**/.terraform.lock.hcl

# Terraform state files
**/*.tfstate
**/*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform variables
**/terraform.tfvars
**/*.auto.tfvars

####################################
# Secrets / keys
####################################

# Yandex Cloud / Service Account keys
sa-key.json
key.json
**/key.json

# Kubernetes
.kube/
kubeconfig
kubeconfig.*
*.kubeconfig
*.b64

####################################
# Logs
####################################

crash.log
crash.*.log
*.log

####################################
# Other
####################################

*config.yaml
.DS_Store
.idea/
.vscode/
