grafana:
  enabled: true
  service:
    type: LoadBalancer
    port: 80
    targetPort: 3000
  adminPassword: "Netology12345!"
  defaultDashboardsEnabled: true

prometheus:
  service:
    type: ClusterIP

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
